<div id="sidebar-content">
          <ul id="nav">
            <li>
              <a href="{:U('Index/index')}">
                <i class="icon-dashboard">
                </i>
                后台首页
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-table">
                </i>
                会员管理
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="{:U('UserLevel/index')}">
                    <i class="icon-angle-right">
                    </i>
                    会员级别
                  </a>
                </li>
                <li>
                  <a href="{:U('User/index')}">
                    <i class="icon-angle-right">
                    </i>
                    会员列表
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{:U('About/index')}">
                <i class="icon-dashboard">
                </i>
                公告管理
              </a>
            </li>
            <li>
              <a href="{:U('Letter/index')}">
                <i class="icon-dashboard">
                </i>
                站内信
              </a>
            </li>
            <li>
              <a href="{:U('Assist/index')}">
                <i class="icon-dashboard">
                </i>
                提供帮助列表
              </a>
            </li>
            <li>
              <a href="{:U('Earn/index')}">
                <i class="icon-dashboard">
                </i>
                获取收益列表
              </a>
            </li>
            <li>
              <a href="{:U('Order/index')}">
                <i class="icon-dashboard">
                </i>
                订单列表
              </a>
            </li>
            <li>
              <a href="{:U('Report/index')}">
                <i class="icon-dashboard">
                </i>
                举报管理
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-table">
                </i>
                系统管理
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="{:U('System/index')}">
                    <i class="icon-angle-right">
                    </i>
                    基本设置
                  </a>
                </li>
                <li>
                  <a href="{:U('Admin/index')}">
                    <i class="icon-angle-right">
                    </i>
                    管理员管理
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="sidebar-widget align-center">
            <div class="btn-group" data-toggle="buttons" id="theme-switcher">
              <label class="btn active">
                <input type="radio" name="theme-switcher" data-theme="bright">
                <i class="icon-sun">
                </i>
                白天
              </label>
              <label class="btn">
                <input type="radio" name="theme-switcher" data-theme="dark">
                <i class="icon-moon">
                </i>
                夜晚
              </label>
            </div>
          </div>
        </div>