
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>{:C('ADMIN_TITLE')}</title>
    <include file="Public/style" />
  </head>

  <body>
    <include file="Public/header" />
    <div id="container">
      <div id="sidebar" class="sidebar-fixed">
        <include file="Public/menu" />
        <div id="divider" class="resizeable">
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="{:U('Index/index')}">
                  后台首页
                </a>
              </li>
            </ul>
          </div>
          <div class="page-header">
            <div class="page-title">
              <h3>
                新增会员
              </h3>
            </div>
          </div>
          <div class="row row-bg">

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                    新增会员
                  </h4>
                  <div class="toolbar no-padding">
                    <div class="btn-group">
                      <span class="btn btn-xs widget-collapse">
                        <i class="icon-angle-down">
                        </i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="widget-content">
                <eq name="action" value="add">
                  <form class="form-horizontal row-border" action="{:U('insert')}" onSubmit="return ajaxForm(this)" method="post">
                <else />
                  <form class="form-horizontal row-border" action="{:U('update')}" onSubmit="return ajaxForm(this)" method="post">
                </eq>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    用户名:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="username" class="form-control" placeholder="用户名" value="{$vo.username}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                      会员级别
                    </label>
                    <div class="col-md-10">
                      <select name="level_id" id="input17" class="select2-select-00 col-md-12 full-width-fix">
                        <volist name="level_list" id="level_vo">
                          <option value="{$level_vo.id}" <if condition="$vo['level_id'] eq $level_vo['id']">selected</if>>{$level_vo.name}</option>
                        </volist>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    密码:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="password" class="form-control" placeholder="密码" value="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    安全密码:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="pay_password" class="form-control" placeholder="安全密码" value="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    姓名:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="name" class="form-control" placeholder="姓名" value="{$vo.name}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    年龄:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="age" class="form-control" placeholder="姓名" value="{$vo.age}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    性别:
                    </label>
                    <div class="col-md-10">
                      <label class="radio-inline">
                          <input type="radio" name="sex" value="1" <eq name="vo.sex" value="1">checked="checked"</eq>>
                          男
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="sex" value="2" <eq name="vo.sex" value="2">checked="checked"</eq>>
                          女
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="sex" value="3"
                          <eq name="action" value="edit">
                            <eq name="vo.sex" value="3">checked="checked"</eq>
                          <else />
                            checked="checked"
                          </eq>>
                          保密
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    电话:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="phone" class="form-control" placeholder="电话" value="{$vo.phone}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    邮箱:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="email" class="form-control" placeholder="邮箱" value="{$vo.email}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    省份:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="province" class="form-control" placeholder="省份" value="{$vo.province}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    城市:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="city" class="form-control" placeholder="城市" value="{$vo.city}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    支付宝账号:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="alipay_account" class="form-control" placeholder="支付宝账号" value="{$vo.alipay_account}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    银行名称:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="bank_name" class="form-control" placeholder="银行名称" value="{$vo.bank_name}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    开户行:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="bank_address" class="form-control" placeholder="开户行" value="{$vo.bank_address}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    银行卡号:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="bank_code" class="form-control" placeholder="银行卡号" value="{$vo.bank_code}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    户主:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="bank_account" class="form-control" placeholder="户主" value="{$vo.bank_account}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    IBAN:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="iban_code" class="form-control" placeholder="IBAN" value="{$vo.iban_code}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-10">
                      <eq name="action" value="edit">
                        <input type="hidden" name="id" value="{$vo.id}">
                      </eq>
                      <input type="hidden" name="pid" value="{:I('get.pid', 0)}">
                      <button class="btn btn-success" type="submit">
                        提交
                      </button>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <include file="Public/script" />
  </body>

</html>