
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>{:C('ADMIN_TITLE')}</title>
    <include file="Public/style" />
  </head>

  <body>
    <include file="Public/header" />
    <div id="container">
      <div id="sidebar" class="sidebar-fixed">
        <include file="Public/menu" />
        <div id="divider" class="resizeable">
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="{:U('Index/index')}">
                  后台首页
                </a>
              </li>
            </ul>
          </div>
          <div class="page-header">
            <div class="page-title">
              <h3>
                会员列表
              </h3>
            </div>
          </div>
          <div class="row row-bg">

          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="btn-toolbar btn-toolbar-demo">
                  <a href="{:U('add')}" class="btn btn-primary">新增</a>
                </p>
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                    会员列表
                  </h4>
                  <div class="toolbar no-padding">
                    <div class="btn-group">
                      <span class="btn btn-xs widget-collapse">
                        <i class="icon-angle-down">
                        </i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="widget-content">
                    <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                          用户名
                        </th>
                        <th>用户级别</th>
                        <th>
                          姓名
                        </th>
                        <th>奖金钱包</th>
                        <th>收益钱包</th>
                        <th>门票</th>
                        <th>状态</th>
                        <th>
                          操作
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <volist name="list" id="vo">
                        <tr>
                        <td>
                          {$vo.id}
                        </td>
                        <td>
                          {$vo.username}
                        </td>
                        <td>{$vo.nickname}</td>
                        <td>{$vo.level_name}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.c_money}</td>
                        <td>{$vo.m_money}</td>
                        <td>{$vo.pin}</td>
                        <td>
                          <switch name="vo.status">
                            <case value="1">正常</case>
                            <case value="2">冻结</case>
                            <case value="3">拉黑</case>
                            <case value="0">禁用</case>
                          </switch>
                        </td>
                        <td>
                          <a href="{:U('add',array('pid'=>$vo['id']))}">增加下级会员</a>
                          <a href="{:U('changeStatus',array('id'=>$vo['id']))}">更改状态</a>
                          <a href="{:U('changeCMoney',array('id'=>$vo['id']))}">奖金钱包充值</a>
                          <a href="{:U('changeRMoney',array('id'=>$vo['id']))}">收益钱包充值</a>
                          <a href="{:U('changePin',array('id'=>$vo['id']))}">门票充值</a>
                          <a href="{:U('edit',array('id'=>$vo['id']))}">编辑</a>
                          <a href="" data-href="{:U('del',array('id'=>$vo['id']))}" onclick="return ajaxBtn(this)">删除</a>
                        </td>
                      </tr>
                      </volist>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <include file="Public/script" />
  </body>

</html>